.jumbotron {
    min-height: 360px;
    padding-top: 100px;
    color: aliceblue;
    background-image: url(https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);    
}

h4, h3 {
    font-family: 'Kalam', cursive;
}

h1 {
    font-family: 'Prata', serif;
}